<div class="w-[100%]">
    <h1 class="text-2xl px-3">Customers</h1>
    
        <table class=" w-full table table-primary border-collapse table-striped">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Contact</th>
              </tr>
            </thead>
           
              <tr *ngFor="let user of users">
                <td class="border text-sm py-2 text-center">{{user.fullName}}</td>
                <td class="border text-sm py-2 text-center">{{user.email}}</td>
                <td class="border text-sm py-2 text-center">{{user.contact}}</td>
              </tr>
           
          </table>
    
</div>