<div class="flex justify-between mx-[7%] items center mt-12 ">
    <div class="bg-[#2c698d] w-[20%] drop-shadow-2xl rounded-xl h-[80%]  text-xl text-center fixed left-[100px] text-white">
        <div class="userinfo my-8">
            <h1>Nabin Chaudhary</h1>
            <p class="text-[15px]">nabin229chaudhary&#64;gmail.com</p>
            <hr>
        </div>
        
        <div class="navs">
            <ul class="flex flex-col justify-center items-center text-black">
                <button routerLink="/AdminDashboard/AdminHome" class="w-[50%] h-12 bg-[#fff] rounded my-2">Dashboard</button>
                <button routerLink="/AdminDashboard/AdminProduct" class="w-[50%] h-12 bg-[#fff] rounded my-2">Products</button>
                <button class="w-[50%] h-12 bg-[#fff] rounded my-2" routerLink="/AdminDashboard/AdminOrder">Orders</button>
                <button class="w-[50%] h-12 bg-[#fff] rounded my-2">Invoices</button>
                <button class="w-[50%] h-12 bg-[#fff] rounded my-2"><a routerLink="/AdminDashboard/AdminCustomer">Customer</a></button>
                <button class="w-[50%] h-12 btn btn-warning rounded my-10" (click)="logOut()">LogOut</button>
            </ul>
        </div>
    </div>
    <div class=" w-[75%] rounded-2xl h-[100%] ml-[27%]">
        <router-outlet></router-outlet>
        
    </div>
</div>

