<div class=" bg-[#2c698d]  ">
    <div class="flex justify-center w-[90%] mx-auto text-white py-4 px-16 mt-5">
        <div class="flex justify-between">
            <div class="w-[40%] flex ">
                <div class="">
                    <img src="../../../assets/ShopSmartly.svg" alt="Description of my image" class="w-[100px]" />
                    <p class=" text-sm text-justify">
                        I LOVE this app it is very useful and helpful. Thanks Muzli you
                        made my daily life easy with awesome content and and and and adn
                        adn adn adna and adn and and and and anda anda dnaa dand and aadn
                        aanda and a
                    </p>
                </div> 
            </div>
            <div class=" flex w-[50%] ">
                <div class="w-[40%] pl-10 mt-6  ">
                    <h1 class="text-3xl">Products</h1>
                    <ul class="pt-3 list-disc pl-3 text-1xl">
                        <li class="py-1">Mens wear</li>
                        <li class="py-1">Women wear</li>
                        <li class="py-1">Childs wear</li>
                    </ul>
                </div>
                <div class="w-[40%] pl-10 mt-6 ">
                    <h1 class="text-3xl">Follow us</h1>
                    <ul class="pt-3 list-disc pl-3 text-1xl">
                        <li class="py-1">Mens wear</li>
                        <li class="py-1">Women wear</li>
                        <li class="py-1">Childs wear</li>
                    </ul>
                </div>
                <div class="w-[40%] pl-10 mt-6 ">
                    <h1 class="text-3xl">Reach us</h1>
                    <ul class="pt-3 list-disc pl-3 text-1xl">
                        <li class="py-1">Contact</li>
                        <li class="py-1">Bug report</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-28">
        <div class="flex justify-center border-t-2 border-b-2 border-[#E5E7EB] px- py-2 text-white">
            <div>
                2023 ShopSmartly pvt. ltd All Rights reserved. Read our Privacy
                Policy and Terms of Service
            </div>
        </div>
    </div>
    <div class="flex justify-end mr-28 text-white text-opacity-50">
        Â© 2021 All Rights Reserved
    </div>
</div>