<div class="h-[100%]">
    <div class="flex justify-between items-center w-[100%] h-[70px] bg-yellow-300 sticky top-0 z-10">
        <div>
            <img src="../../../assets/ShopSmartly.svg" width="50px"  class="border"  alt="Logo of ShopSmartly">
        </div>
        <nav> 
            <ul class="flex justify-between items-center">
                <a routerLink="/OurProducts">
                    <li class="mx-2">Our Products</li>
                </a>
                <a href="">
                    <li class="mx-2">Home</li>
                </a>
                <a href="">
                    <li class="mx-2">About Us</li>
                </a>
                <a href="">
                    <li class="mx-2">Contacts</li>
                </a>
            </ul>
        </nav>
        <div class="icons flex">
            <p><a routerLink="/cart" *ngIf="authService.isUserLoggedIn()">Cart</a></p>
            <p><a routerLink="/login" *ngIf="!authService.isUserLoggedIn()">auth</a></p>
            <p><a (click)="logOut()" *ngIf="authService.isUserLoggedIn()">LogOut</a></p>
            <p><a *ngIf="authService.getUserRole()=='ADMIN' && authService.isUserLoggedIn()">Profile</a></p>
        </div>
    </div>
    <div class="section">
        <router-outlet></router-outlet>
    </div>
</div>
