<div class="h-[100%]">
    <div class="flex justify-between items-center w-[100%] h-[70px] bg-[#2c698d] px-[3%] sticky top-0 z-10 text-white">
        <div>
            <img src="../../../assets/ShopSmartly.svg" width="72px" alt="Logo of ShopSmartly" routerLink="/" class="">
        </div>
        <nav> 
            <ul class="flex justify-between items-center text-[18px]">
                <a routerLink="/OurProducts">
                    <li class="mx-2">Our Products</li>
                </a>
                <a routerLink="/priceDeals">
                    <li class="mx-2">Price Deals</li>
                </a>
                <a href="">
                    <li class="mx-2">About Us</li>
                </a>
                <a href="">
                    <li class="mx-2">Contacts</li>
                </a>
            </ul>
        </nav>
        <div class="flex justify-between items-center text-xl mt-3">
            <p class="px-1"><a routerLink="/cart" *ngIf="authService.isUserLoggedIn()"><fa-icon [icon]="cart"></fa-icon> </a></p>
            <p class="px-1"><a routerLink="/login" *ngIf="!authService.isUserLoggedIn()"><fa-icon [icon]="auth"></fa-icon></a></p>
            <p class="px-1"><a (click)="logOut()" *ngIf="authService.isUserLoggedIn()"><fa-icon [icon]="logout"></fa-icon></a></p>
            <p class="px-1" (click)="getUserProfile()"><a *ngIf=" authService.isUserLoggedIn()"><fa-icon [icon]="profile"></fa-icon> </a></p>
        </div>
    </div>
    <div class="section">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
