<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of cartItems">
            <div class="product-info">
                <div class="product-img">
                    <img [src]="item.processedImg" alt="image of product">
                </div>
                <div class="product-details">
                    <div class="item-row">
                        <div class="item-name" [ngClass]="{ 'highlight': item.highlighted }">
                            {{ item.productName}}
                        </div>
                        <div class="item-price">{{ item.price | currency }}</div>
                        <div class="quantity-controls">
                            <button class="btn btn-primary" [disabled]="item.quantity == 1"
                                (click)="decreaseProductQuantity(item.productId)">
                                <div>X</div>
                            </button>
                            <span class="quantity">{{ item.quantity }}</span>
                            <button class="btn btn-primary" (click)="increaseProductQuantity(item.productId)">
                                <div>+</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total-price">
                Total Price: {{ item.totalPrice | currency}}
            </div>

        </div>
    </div>
    <hr>
    <hr>
    <div class="total-price">
        Amount: {{ order.totalAmount | currency }}
    </div>
    <div>
        <button class=" btn btn-primary" (click)="placeOrder()">Place Order</button>
    </div>
</div>

   


<ng-template #emptyCart>
    <button routerLink="/order" class="btn btn-primary">My Orders</button>
    <div class="empty-cart border w-[80%] mx-auto mt-[88px] h-[200px] text-center text-6xl">
        <span>Nothing to see here.</span><br>
        <button class="text-3xl">Go to <span routerLink="/OurProducts" class="text-[#2c698d]">Our Products</span></button>
    </div>
</ng-template>

<!-- <div>
    <p>Debug info:</p>
    <p>cartItems length : {{ cartItems.length }}</p>
    <pre>{{ cartItems | json }}</pre>
</div> -->