<div *ngIf="cartItems.length > 0; else emptyCart" class="flex flex-col md:flex-row md:justify-between w-full md:w-[50%] mx-auto">
    <div class="w-full md:w-[60%] bg-gray-200 mt-8 rounded-lg">
        <h1 class="text-3xl py-4 px-6">Your shopping cart</h1>
        <div *ngFor="let item of cartItems" class="w-full md:w-[450px] mx-auto border pb-4 px-6">
            <div class="flex">
                <div class="">
                    <img [src]="item.processedImg" alt="image of product" class="rounded-lg w-[100px] h-[100px]">
                </div>
                <div class=" pl-6">
                    <div class="">
                        <div class="py-1" [ngClass]="{ 'highlight': item.highlighted }">
                            {{ item.productName}}
                        </div>
                        <div class="py-1">{{ item.price | currency }}</div>
                        <div class="">
                            <button class="border px-2 py-1 mx-2 bg-gray-300 rounded-lg" [disabled]="item.quantity == 1"
                                (click)="decreaseProductQuantity(item.productId)">
                                <div>-</div>
                            </button>
                            <span class="">{{ item.quantity }}</span>
                            <button class="border px-2 py-1 mx-2 bg-gray-300 rounded-lg" (click)="increaseProductQuantity(item.productId)">
                                <div>+</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-8 border h-[250px] w-[240px] rounded-lg">
        <h1 class="text-3xl pt-4 pb-2 px-6">CheckOut</h1>
        <div class="total-price px-6">
            Total Amount: {{ order.totalAmount | currency }}
        </div>
        <div>
            <!-- <button class=" btn btn-primary" (click)="placeOrder()">Place Order</button> -->
            <app-checkout></app-checkout>
        </div>

    </div>
    
</div>


   


<ng-template #emptyCart>
    <button routerLink="/order" class="btn btn-primary">My Orders</button>
    <div class="empty-cart border w-[80%] mx-auto mt-[88px] h-[200px] text-center text-6xl">
        <span>Nothing to see here.</span><br>
        <button class="text-3xl">Go to <span routerLink="/OurProducts" class="text-[#2c698d]">Our Products</span></button>
    </div>
</ng-template>

<!-- <div>
    <p>Debug info:</p>
    <p>cartItems length : {{ cartItems.length }}</p>
    <pre>{{ cartItems | json }}</pre>
</div> -->