<div>
    <div class="content">
        <form [formGroup]="orderForm" (ngSubmit)="CheckOut()" >
            <div>
                <label for="Address"></label>
                <input type="text" formControlName="address" placeholder="Address" class="w-[200px] h-8 border rounded-lg pl-4 ml-5 my-2">
            </div>
            <div>
                <label for="Description"></label>
                <input type="text" formControlName="description" placeholder="Description" class="w-[200px] h-8 border rounded-lg pl-4 ml-5 my-2">
            </div>
                <button class="btn btn-warning ml-[65px] my-3" type="submit" >CheckOut</button>
        </form>
    </div>
</div>