<div class="w-[100%] bg-[#e3f6f5] border rounded-xl">
  <div class="flex">
    <div class="greetings w-[40%] px-4 pt-4">
      <h2 class="m-0">Good Day,</h2>
      <p>Nabin Chaudhary</p>
    </div>
    <div class="thoughts px-4">
      <h2 class="m-0 mt-2">Products to heal the soul</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
        officiis, modi, accusamus corrupti consequuntur nihil tenetur recusandae
        architecto et eaque repudiandae facere id expedita, nostrum atque.
        Accusantium harum tenetur numquam!
      </p>
    </div>
  </div>
</div>

<div class="flex justify-between items-center mt-3 mx-5 text-white">
  <div class="p-3 border rounded-lg bg-[#2c698d]">Pending Order</div>
  <div class="p-3 border rounded-lg bg-[#2c698d]">Complete Order</div>
  <div class="p-3 border rounded-lg bg-[#2c698d]">Total Orders</div>
</div>

<div class="order-table mt-3">
  <div class="title">Recent Orders</div>
  <div class="border-3 rounded-lg h-[380px] overflow-y-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>address</th>
          <th>Total Amount</th>
          <th>Payment Type</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of recentOrders">
          <th>{{order.id}}</th>
          <td>{{order.fullName}}</td>
          <td>{{order.description}}</td>
          <td>{{order.address}}</td>
          <td>{{order.totalAmount}}</td>
          <td>{{order.paymentType}}</td>
          <td>{{order.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>