<div class="w-full md:w-[100%] bg-[#e3f6f5] border rounded-xl">
  <div class="md:flex flex-col md:flex-row hidden">
    <div class="greetings md:w-[40%] px-4 pt-4">
      <h2 class="m-0">Good Day,</h2>
      <p>Nabin Chaudhary</p>
    </div>
    <div class="thoughts px-4">
      <h2 class="m-0 mt-2">Products to heal the soul</h2>
      <p class="mt-2 md:mt-0">
        Discover your perfect match with ease. Our platform analyzes data from diverse sources to deliver personalized
        product recommendations. Say goodbye to endless searching and hello to curated selections.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-between items-center mt-3  md:mx-5 text-white">
  <div class="p-3 border rounded-lg bg-[#2c698d] md:w-[25%] mt-3 md:mt-0">Pending Order: {{pendingOrders.length}}</div>
  <div class="p-3 border rounded-lg bg-[#2c698d] md:w-[25%] mt-3 md:mt-0">Complete Order: {{recentOrders.length}}</div>
  <div class="p-3 border rounded-lg bg-[#2c698d] md:w-[25%] mt-3 md:mt-0">Total Orders: {{totalOrders.length}}</div>
</div>

<div class="order-table mt-3">
  <div class="title">Recent Orders</div>
  <div class="border-3 rounded-lg h-[380px] overflow-y-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="w-[10%] text-sm">ID</th>
          <th class="w-[15%] text-sm">Name</th>
          <th class="w-[20%] text-sm">Description</th>
          <th class="w-[20%] text-sm">address</th>
          <th class="w-[40%] text-sm">Total-Amt</th>
          <!-- <th class="w-[20%] text-sm">Payment-Type</th> -->
          <th class="w-[10%] text-sm">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of recentOrders">
          <th class="w-[10%] text-sm">{{order.id}}</th>
          <td class="w-[10%] text-sm">{{order.fullName}}</td>
          <td class="w-[10%] text-sm">{{order.description}}</td>
          <td class="w-[10%] text-sm">{{order.address}}</td>
          <td class="w-[10%] text-sm">{{order.totalAmount}}</td>
          <!-- <td class="w-[10%] text-sm">{{order.paymentType}}</td> -->
          <td class="w-[10%] text-sm">{{order.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>