<div class="bg-[#2c698d] w-[270px] h-[300px] fixed top-[70px] right-0 rounded-md">
    <div *ngIf="user" class="text-center text-white mt-7">
        <p class="my-2">Hello {{user.fullName}}</p>
        <p class="my-2">{{user.email}}
        <p class="my-2">Regd. Id : {{user.id}}</p>
        <p class="my-2">Contact: {{user.contact}}</p>
    </div>
    <div class=" text-white">
        <button class="w-[120px] h-[40px] bg-[#272643] ml-20 mt-3 rounded-md" routerLink="/order">My Orders</button>
        <button class="w-[120px] h-[40px] bg-[#272643] ml-20 mt-3 rounded-md" (click)="logOut()">Log Out</button>
    </div>
</div>