<div class="mt-3 mb-4">

    <button class="px-3 py-2 ml-10 bg-[#2c698d] text-sm text-white rounded-lg" (click)="sortByReview()">Sort by
        Reviews</button>
    <button class="px-3 py-2 ml-10 bg-[#2c698d] text-sm text-white rounded-lg" (click)="bestDeals()">Best Deals</button>

    <input type="text" id="query" [(ngModel)]="query"
        class="border rounded-lg w-[400px] h-[50px] ml-[400px] pl-[20px] text-2xl text-[#2c698d]"
        placeholder="Search for Fashions">
    <button (click)="searchProducts()" class="px-3 py-2 bg-[#2c698d] text-xl text-white rounded-lg ml-3">Search</button>

    <label for="sortOptions" class="ml-2">Sort by:</label>
    <select id="sortOptions" (change)="onSortChange($event)" class="px-2 py-2 border">
        <option value="priceLowToHigh">Price Low to High</option>
        <option value="priceHighToLow">Price High to Low</option>
    </select>
</div>

<div *ngIf="loading" class="text-center text-3xl text-[#2c698d]">
    <p>Please wait, products are loading...</p>
</div>


<div class="w-[95%] bg-slate-100 rounded-xl mx-auto min-h-[25vh]">
    <hr>
    <hr>
    <div class="">
        <div *ngIf="sortBy === 'bestDeals'">
            <h3 class="text-3xl text-center my-2">Best Deals</h3>
            <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 w-[97%] mx-auto">
                <li *ngFor="let item of displayedProducts" class="border rounded-xl bg-gray-400 w-[250px] mb-2">
                    <div>
                        <img [src]="item.imageURL" alt="Product Image" class="w-[150px] rounded-xl mx-auto">
                    </div>
                    <div>
                        <a href="{{item.link}}" target="_blank" class="my-2">
                            <h3 class="text-center mt-2">Title: {{ item.title.slice(0,25) }} {{item.title.length > 25 ? '...':''}}</h3>
                        </a>
                        <p class="mx-2">Price: {{ item.price }}</p>
                        <p class="mx-2">Website: {{item.website}}</p>
                        <p *ngIf="item.reviews" class="mx-2">Reviews: {{ item.reviews }}</p>
                        <p *ngIf="item.ratings" class="mx-2">Ratings: {{ item.ratings }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="sortBy === 'priceLowToHigh' || sortBy === 'priceHighToLow'">
            <!-- <h3 class="text-3xl text-center my-2">Sorted Products</h3> -->
            <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 w-[97%] mx-auto">
                <li *ngFor="let item of getSortedProducts()" class="border rounded-xl bg-gray-400 w-[250px] mb-2">
                    <div>
                        <img [src]="item.imageURL" alt="Product Image" class="w-[150px]  rounded-xl mx-auto">
                    </div>
                    <div>
                        <a href="{{item.link}}" target="_blank">
                            <h3 class="text-center mt-2">Title: {{ item.title.slice(0,25) }} {{item.title.length > 25 ? '...':''}}</h3>
                        </a>
                        <p class="mx-2">Price: {{ item.price }}</p>
                        <p class="mx-2">Website: {{item.website}}</p>
                        <!-- Display reviews if available -->
                        <p *ngIf="item.reviews" class="mx-2">Reviews: {{ item.reviews }}</p>
                        <p *ngIf="item.ratings" class="mx-2">Ratings: {{ item.ratings }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="sortBy === 'reviews'">

            <h3 class="text-3xl text-center my-2">Product with review</h3>
            <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 w-[97%] mx-auto">
                <li *ngFor="let item of getSortedByReview()" class="border rounded-xl bg-gray-400 w-[250px] mb-2">
                    <div>
                        <img [src]="item.imageURL" alt="Product Image" class="w-[150px]  rounded-xl mx-auto">
                    </div>
                    <div>
                        <a href="{{item.link}}" target="_blank" class="my-2">
                            <h3 class="mt-2 text-center">Title: {{ item.title.slice(0,25) }} {{item.title.length > 25 ? '...':''}}</h3>
                        </a>
                        <p class="text-sm text-green-900 mx-2">Price: {{ item.price }}</p>
                        <p class="mx-2">Website: {{item.website}}</p>
                        <!-- Display reviews if available -->
                        <p *ngIf="item.reviews" class="mx-2">Reviews: {{ sanitizeReviews(item.reviews) }}</p>
                        <p *ngIf="item.ratings" class="text-center">
                            Ratings: {{ getStarIcons(item.ratings) }} ({{ item.ratings.split('.')[0] }} out of 5 rating
                            with {{ item.reviews }} reviews)
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>