<!-- hero section -->
<main class="relative bg-cover" style="
    background-image: url('../../../assets/bg1.jpg');
    width: 100%;
    height: 650px;
  ">
    <div class="absolute px-6 py-6 top-[555px] left-[470px] bg-[#2c698d] rounded-xl text-white">
        <h1 class="font-sans text-4xl">Meet Your Deal and Offer</h1>
        <p class="pt-2">
            To Find the Best Products with the best deals across the internet is the
            right to have
        </p>
        <button class="px-3 py-3 mt-3 rounded-md text-xl border hover:bg-white hover:text-[#272643] transition duration-100">
            Get the Best Offers
        </button>
    </div>
</main>

<!-- Second Section -->
<section
    class=" w-[80%] mx-auto mt-[140px] flex justify-between rounded-2xl">
    <div>
        <div>
            <h1 class="text-6xl mt-4 text-[#272643]">Be The First to know of Latest Deals and Offers</h1>
        </div>

        <div class="mt-4 text-2xl">
            <p>
                Staying current is importantly crucial to continuously taste best deals <br>
                and be prepared for upcoming trends and deals.
            </p>
        </div>

    </div>
    <div class="grid grid-cols-2 gap-3">
        <img src="" alt="" width="200px" height="200px" class="border rounded-xl">
        <img src="" alt="" width="200px" height="200px" class="border rounded-xl">
        <img src="" alt="" width="200px" height="200px" class="border rounded-xl">
        <img src="" alt="" width="200px" height="200px" class="border rounded-xl">
    </div>
</section>
<!-- Third Section -->
<section class="w-[80%] mx-auto mt-14">
    <div class="flex justify-between">
        <div class="">
            <img src="../../../assets/bg.jpg" alt="third section image" width="1100px" height="500px" class="rounded-2xl">
        </div>
        <div class="ml-10">
            <h1 class="text-6xl text-[#272643]">Try the ShopSmartly Store</h1>
            <p class="text-2xl mt-3">Discover a curated selection of top quality products tailored to your needs. From trendy Adult's fashion
                wear to children's wear and everything in between, acquiring seamless shopping experience
            </p>
            <button class="px-4 py-3 mt-5 bg-[#2c698d] rounded-xl text-white text-xl">Go to Store</button>
        </div>
    </div>
</section>
<!-- Fourth Section -->
<section class="w-[80%] mx-auto mt-14">
    <div class="text-center text-6xl text-[#272643]">
        <h1>Why Choose ShopSmartly??</h1>
    </div>
    <div class="flex mx-[15%] justify-between items-center text-2xl mt-4">
        <div>
            <div class="text-center">icon</div>
            <div class="px-4 py-3 bg-[#2c698d] rounded-lg text-white">Best Deals</div>
        </div>
        <div>
            <div class="text-center">icon</div>
            <div class="px-4 py-3 bg-[#2c698d] rounded-lg text-white">Convenience</div>
        </div>
        <div>
            <div class="text-center">icon</div>
            <div class="px-4 py-3 bg-[#2c698d] rounded-lg text-white">One Stop Solution</div>
        </div>
        
    </div>
</section>
