
<div class="bg-[#97cdf1] flex w-[53%] mx-auto justify-between rounded-2xl mt-[100px]">
    <div>
        <div class="pl-[70px] mt-[50px]">
            <h1 class="text-[#4a7994] text-3xl"><b>Login</b></h1>
            <p class="text-sm py-3 text-gray-600">If you are already Member, Easily Log in</p>
        </div>
        <form class="mx-auto pl-[70px]" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div>
                <input type="email" placeholder="Email" name="email" formControlName="email" class="rounded-xl w-[270px] h-[40px] mt-6 pl-[20px]">
                <small *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors?.['required']" class="text-red-500 pl-4"><b>Email is required</b></div>
                    <div *ngIf="email.errors?.['email']" class="text-red-500 pl-4"><b>Email is invalid</b></div>
                </small>
            </div>
            <div>
                <input type="password" placeholder="Password" name="password" formControlName="password" class="rounded-xl w-[270px] mt-4 h-[40px] pl-[20px]">
                <small *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p class="text-red-500 pl-4 bold"><b>Password is required</b></p>
                </small>
            </div> 
            <div>
                <button type="submit" class="rounded-xl bg-[#2f95d0] text-white w-[270px] h-[40px] my-4">Login</button>
            </div>
            <hr>
            <p class="text-sm my-4 text-center text-gray-600">If You Dont Have An Account, <a class="underline text-green-800 text-lg" routerLink="/register">Create</a></p>
        </form>
       
        
    </div>
    <div class="img">
        <img src="../../../assets/login1.png" alt="image" class="w-[400px] h-[500px] rounded-3xl">
    </div>
</div>
